<div class="container mt-3" style="margin-top: 50px!important ; padding-left: 50px!important; max-width: 1250px!important; ">
  <h1 class='project-name'  style="margin-bottom: 50px">My applied tests</h1>
  <% @test_users.each do |x| %>
    <div class="test-card-over"  style="margin-bottom: 20px!important; width: 100%; border-radius: 5px">
      <div class="test_card">
          <%= link_to test_path(x.test) do %>
            <% if x.test.is_finished %>
              <h5><strong><%= x.test.name %></h5></strong>
            <% else %>
              <h5 id="color"><strong><%= x.test.name %></h5></strong>
            <% end %>
          <% end %>
          <div style="display: flex">
            <p><strong>Created on: <%= x.test.created_at.strftime("%d/%m/%Y") %></strong></p>
            <% unless x.test.is_finished %>
              <p><strong><i class="fas fa-circle test-live"></i>live</strong></p>
              <p><strong><%= (x.test.time_limit - Date.today).round %> days left</strong> </p>
            <% else %>
              <p><strong><i class="fas fa-clipboard-check test-ended"></i>ended</strong></p>
            <% end %>
          </div>
          <strong><%= link_to "TEST NOW", set_done_test_user_path(x), :target => "_blank", :class => 'test-link', id: "color", style: "font-size: 1.2rem" %></strong>
          <div>
            <% if x.test_finished %>
              <strong><%= link_to 'leave a review', test_path(x.test_id), class: "test-card-btn" %></strong>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
</div>
