<div class="container">

<% unless @chatrooms == [] %>

<% @chatrooms.each do |chatroom| %>
<%= link_to chatroom_path(chatroom) do  %>
<p><%= chatroom.name %></p>

<% end %>
<% if chatroom.messages.empty? %>
<p>No messages.</p>
<% else %>
<p><%= chatroom.messages.last.content %></p>
<% end %>
<% end %>

<% else %>
<p>No chatrooms. <span>Add a chatroom!</span></p>
<%= simple_form_for @chatroom, url: chatrooms_path do |f| %>
<%= f.input :name %>
<%= f.submit %>
<% end %>
<% end %>

</div>
