
  <div class="container">
      <% if @chatrooms.empty? %>
        <h2 class='text-align-center my-5'> No chatrooms. <span><%= link_to "Explore and collaborate!",  "/explore"%></span></h2>
      <% else %>
        <% @chatrooms.each do |chatroom| %>
          <div class="row">
            <%= link_to chatroom_path(chatroom) do %>
              <div class="container">
                <div class="card-product">
                  <% @chatrooms.each do |chatroom| %>
                  <% if chatroom.receiver == current_user %>
                    <div class="card-product-infos">
                      <div class="col d-flex align-items-center">
                        <%= cl_image_tag chatroom.sender.photo.key, class: "avatar menu-icon"%>
                      </div>
                      <div>
                        <%= chatroom.sender.username %>
                      </div>
                 </div>
                      <div>
                        <% unless chatroom.messages == [] %>
                        <%= chatroom.messages.last.content %>
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div class="card-product-infos">
                      <div class="col d-flex align-items-center">
                      <% if chatroom.receiver.photo.attached? %>
                      <%= cl_image_tag chatroom.receiver.photo.key, class: "avatar menu-icon"%>
                      <% end %>
                      </div>
                      <div>
                        <%= chatroom.receiver.username %>
                      </div>
                      <div>
                        <% unless chatroom.messages == [] %>
                        <%= chatroom.messages.last.content %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>





