<div class="container">
   <% if @chatrooms.empty? %>
      <h2 class='text-align-center my-5'> No chatrooms. <span><%= link_to "Explore and collaborate!",  "/explore"%></span></h2>
   <% else %>
    <h2 class="testimonials section-title my-3 text-center"> My messages</h2>
      <% @chatrooms.each do |chatroom| %>
      <div class="row mt-3">
          <% if chatroom.receiver == current_user %>
            <div class="col-12 d-flex justify-content-center">
            <div class="card-product width-chatroom">
              <%= cl_image_tag chatroom.sender.photo.key, class: "rounded-circle p-3 my-3"%>
              <div class="card-product-infos">
                 <h2><%= chatroom.sender.username %></h2>
                 <%= link_to chatroom_path(chatroom) do %>
                 <p id="card-font"><%=  chatroom.messages.last.content.first(100) %>&hellip;</p>
                 <% end %>
              </div>
            </div>
            </div>
          <% else %>
            <div class="col-12 d-flex justify-content-center">
              <div class="card-product width-chatroom">
              <%= link_to chatroom_path(chatroom) do %>
                <%= cl_image_tag chatroom.receiver.photo.key, class: "rounded-circle p-3 my-3"%>
              <% end %>
              <div class="card-product-infos">
                 <h2><%= chatroom.receiver.username %></h2>
                 <%= link_to chatroom_path(chatroom) do %>
                 <%  unless chatroom.messages.last.nil? %>
                 <p id="card-font"><%=  chatroom.messages.last.content %>&hellip;</p>
                 <% end %>
                 <% end %>
              </div>
             </div>
          </div>
        <% end %>
  </div>
<% end %>
</div>
<% end %>
</div>
