
  <div class="container">
      <% if @chatrooms.empty? %>
        <h2 class='text-align-center my-5'> No chatrooms. <span><%= link_to "Explore and collaborate!",  "/explore"%></span></h2>
      <% else %>
        <div class="row">
          <% @chatrooms.each do |chatroom| %>
                  <% if chatroom.receiver == current_user %>

                    <div class="col-12 d-flex justify-content-center">
                      <div class="card-product width-chatroom">
                      <%= cl_image_tag chatroom.sender.photo.key, class: "rounded-circle p-3 my-3"%>
                        <div class="card-product-infos">
                          <h2><%= chatroom.sender.username %></h2>
                          <%= link_to my_projects_path(chatroom) do %>  
                            <p id="card-font"><%=  chatroom.messages.last.content.first(100) %>&hellip;</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="col-12 d-flex justify-content-center">
                      <div class="card-product width-chatroom">
                      <%= link_to my_projects_path(chatroom) do %> 
                        <%= cl_image_tag chatroom.receiver.photo.key, class: "rounded-circle p-3 my-3"%>
                      <% end %>
                        <div class="card-product-infos">
                          <h2><%= chatroom.receiver.username %></h2>
                          <%= link_to my_projects_path(chatroom) do %>  
                            <p id="card-font"><%=  chatroom.messages.last.content.first(100) %>&hellip;</p>
                          <% end %>
                        </div>

                    <div class="card-product-infos">
                      <div class="col d-flex align-items-center">
                        <% if chatroom.sender.photo.attached? %>
                        <%= cl_image_tag chatroom.sender.photo.key, class: "avatar menu-icon avatar-msg"%>
                        <% end %>
                      </div>
                      <div>
                        <%= chatroom.sender.username %>
                      </div>
                    </div>
                      <div>
                        <% unless chatroom.messages == [] %>
                        <%= chatroom.messages.last.content %>
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div class="card-product-infos">
                      <div class="col d-flex align-items-center">
                      <% if chatroom.receiver.photo.attached? %>
                      <%= cl_image_tag chatroom.receiver.photo.key, class: "avatar menu-icon avatar-msg"%>
                      <% end %>
                      </div>
                      <div>
                        <%= chatroom.receiver.username %>
                      </div>
                      <div>
                        <% unless chatroom.messages == [] %>
                        <%= chatroom.messages.last.content %>
                        <% end %>

                      </div>
                    </div>
                  <% end %>
          <% end %>
        </div>
      <% end %>
  </div>





