<div class="container">
<% if @chatroom == [] %>
<p>No messages</p>
<% else %>
<div class="messages-container">
  <div class="row align-items-center mx-3">
<% if @chatroom.receiver.photo.attached? %>
<span><%= cl_image_tag @chatroom.receiver.photo.key, gravity: :face, class: 'avatar avatar-msg' %></span>
<% else %>
<%= image_tag "placeholder-avatar.png", alt: "alttext", class: 'avatar avatar-msg' %>
<% end %>
<h1><%= @chatroom.sender == current_user ? @chatroom.receiver.username : @chatroom.sender.username %> - Messages</h1>
</div>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>" data-chatroom-messenger-id="<%= message.user == current_user %>">
      <i class="author">
        <span><%= message.user.username %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
  <div id="anchor"></div>
</div>
<% end %>
<%= simple_form_for [ @chatroom, @message ], data: {turbolinks: false}, remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Send a message", input_html: {class: "message-border-bottom"} %>
<% end %>
</div>
</div>
