<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
      <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="19" cy="19" r="19" fill="#FBFBFB"/>
    <path d="M16.342 33V13.992H9.89805V9.528H28.114V13.992H21.67V33H16.342Z" fill="#2E2AC5"/>
    </svg>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to "Explore", '/explore', class: "nav-link nav-white" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "#{current_user.username}", my_projects_path, class: "nav-link nav-white" %>
        </li>
        <li class="nav-item active">
          <%= link_to "My projects", my_projects_path, class: "nav-link nav-white" %>
        </li>
        <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link nav-white" %>
        </li>
        <li class="nav-item dropdown">

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>

        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link nav-white" %>
        </li>
      <% end %>
      <%= form_tag projects_path, method: :get , class: "form-inline ml-5 mr-4" do %>
          <%= text_field_tag :query, params[:query], class: "form-control mr-sm-2", placeholder: "Search projects and users" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
    </ul>
  </div>
</div>
