<nav role="navigation" id="mySidebar" class="sidebar">
  <div onclick="sidebarToggle()">
    <i class="fas fa-arrow-alt-circle-left" id="menu-icon"></i>
  </div>

  <div class="overflow-hidden">

    <!-- for later:  -->
      <!-- link_to t('.profile'), business_path(@business), class: '#{'active' if current_page? business_path(@business)}' -->

    <%= link_to root_path, data: { turbolinks: false } do %>
      <div id="sidebar-head">
      <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="19" cy="19" r="19" fill="#FBFBFB"/>
        <path d="M16.342 33V13.992H9.89805V9.528H28.114V13.992H21.67V33H16.342Z" fill="#2e2ac5"/>
      </svg>
      <span class="icon-text">Tester</span>
      </div>
    <% end %>

    <div style="margin-top: -100px">

      <%= link_to explore_path, data: { turbolinks: false }, class: "#{current? "active", explore_path}" do %>
        <i class="fas fa-th-large"></i>
        <span class="icon-text">Explore</span>
      <% end %>
      <%= link_to my_projects_path, data: { turbolinks: false }, class: "#{current? "active", my_projects_path}" do %>
        <i class="fas fa-home"></i>
        <span class="icon-text">Dashboard</span>
      <% end %>
      <%= link_to my_chatrooms_path, data: { turbolinks: false }, class: "#{current? "active", my_chatrooms_path}" do %>
        <i class="fas fa-comments"></i>
        <span class="icon-text">Messages</span>
      <% end %>
      <%= link_to test_users_path, data: { turbolinks: false }, class: "#{current? "active", test_users_path}" do %>
        <i class="fas fa-file-alt"></i>
        <span class="icon-text">Applied Tests</span>
      <% end %>
    </div>
    <div id="logout" >
      <%= link_to destroy_user_session_path , method: :delete do %>
        <i class="fas fa-door-open"></i>
        <span class="icon-text">exit</span>
      <% end %>
    </div>
  </div>
</nav>
