<nav role="navigation" id="mySidebar" class="sidebar">
  <div onclick="sidebarToggle()">
    <i class='bx bxs-chevrons-right' id="menu-icon"></i>
  </div>

  <div class="overflow-hidden">
    <div>
    <%= link_to '#', data: { turbolinks: false } do %>
    <!-- for later:  -->
      <!-- link_to t('.profile'), business_path(@business), class: '#{'active' if current_page? business_path(@business)}' -->
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key %>
      <% else %>
      <%= image_tag "placeholder-avatar.png", class: "avatar menu-icon"%>
      <% end %>
      <span class="icon-text"><%= current_user.username %></span>
    <% end %>
    <%= link_to my_projects_path, data: { turbolinks: false } do %>
      <i class="fas fa-th-large"></i>
      <span class="icon-text">Dashboard</span>
    <% end %>
    <%= link_to my_chatrooms_path, data: { turbolinks: false } do %>
      <i class="fas fa-comments"></i>
      <span class="icon-text">Messages</span>
    <% end %>
    <%= link_to test_users_path, data: { turbolinks: false } do %>
      <i class="fas fa-file-alt"></i>
      <span class="icon-text">Applied Tests</span>
    <% end %>
    </div>
    <div id="logout" >
      <%= link_to destroy_user_session_path , method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
        <span class="icon-text">exit</span>
      <% end %>
    </div>
  </div>
</nav>
