<%= render 'create_modal' %>

<%= button_tag "Create a new project", data: { toggle: "modal", target: "#exampleModal" }, style: 'background: #2e2ac5;', class: "btn btn-flat"%>
<%=  %>
<% if @projects.empty? %>
<div class="container">
<p>Hmm..  you don’t seem to have any projects. <br>
  <%= link_to "Create a new project", new_project_path %>
</p>
</div>
<% else %>
<% @projects.each do |project| %>
  <div class="container mt-3">
    <div class="project-card">
      <div class="project-head">
        <div class="p-flex">
          <%= link_to project_path(project) do %>
          <h5><strong><%= project.name %></h5></strong>
          <% end %>
          <p>Created on: <%= project.created_at.strftime("%Y-%m-%d") %></p>
        </div>
        <div class="p-flex">
          <div class="project-edit">
            <%= link_to edit_project_path(project),
            method: :get do %>
            <i class="fas fa-edit"></i>
            <% end %>
          </div>
          <div class="project-delete">
            <%= link_to project_path(project),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt trash"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="project-body">
        <p><strong>Description</strong></p>
        <div class="project-body-inside">
          <div class="project-b-desc">
            <%= project.description %>
          </div>
          <div class="project-b-test">
            <div class="test-count">
              <h2><%= project.tests.count %></h2>
              <p><strong>Tests</strong></p>
            </div>
            <div>
              <p><strong><i class="fas fa-circle test-live"></i>live: <%= project.tests.where(is_finished: false).count %> tests</strong> </p>
              <p><strong><i class="fas fa-clipboard-check test-ended"></i>ended: <%= project.tests.where(is_finished: true).count %> tests</strong> </p>
            </div>
          </div>
        </div>
        <div class="project-b-resp">
        </div>
      </div>
    </div>
    </div>
  <% end %>
<% end %>

