
<% if @test.reviews.count.zero? %>
    <p>No reviews.<span><%= link_to "Add a review", new_project_test_path(@test.project), class: "nav-link", data: {toggle: "modal", target: "#exampleModalReview"} unless  @test.project.user == current_user %></span></p>
   <% else %>
    <p><%= link_to "Add a review", new_project_test_path(@test.project), class: "nav-link", data: {toggle: "modal", target: "#exampleModalReview"} unless @test.project.user == current_user  %></p>
    <h5 class="my-4"> <%= @test.reviews.count %> <span> <%= @review_count > 1 ? 'reviews' : 'review' %> </span></h5>
    <% @reviews.each do |review| %>
      <div class="row align-items-self-start">
        <div class="col-1">
      <%= image_tag "placeholder-avatar.png", alt: "alttext", class: "avatar" %>
      </div>
      <div class="card mb-4 review-card">
        <p><strong><%= review.user.email %></strong> <span id="review-created-date"><%= review.created_at.strftime("%a %d.%m.%Y")%></span></p>
        <%= review.content %>
      </div>
      </div>
    <% end %>
   <% end %>
