<% if @test.reviews.count.zero? %>
    <p>No reviews. Be the first to <span><%= link_to "add a review", new_project_test_path(@test.project), class: "nav-link", data: {toggle: "modal", target: "#exampleModalReview"} %></span></p>
   <% else %>
    <p><%= link_to "add a review", new_project_test_path(@test.project), class: "nav-link", data: {toggle: "modal", target: "#exampleModalReview"} %></p>
    <p> <%= @test.reviews.count %> <span> <%= @review_count > 1 ? 'reviews' : 'review' %> </span></p>
    <% @reviews.each do |review| %>
      <div class="card my-4 review-card">
        <%= image_tag "placeholder-avatar.png", alt: "alttext", class: "avatar" %>
        <p><strong><%= review.user.email %></strong> <span id="review-created-date"><%= review.created_at.strftime("%a %d.%m.%Y")%></span></p>
        <%= review.content %>
      </div>
    <% end %>
   <% end %>
