<div class="container mt-4">

<h1> <%= @tests[0].project.name %>  </h1>
<% @tests.each do |test| %>
  <%= link_to test_path(test) do  %>
    <p><%= test.name %></p>
    <p><%= test.test_url %></p>
    <p><%= test.description %></p>
  <% end %>
<% end %>
</div>
