




<p>Create a new test</p>


<%= simple_form_for [@project, @test], url: project_tests_path, remote: true do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :sample_size %>
<%= f.input :time_limit %>
<%= f.submit %>
<% end %>
