
<%= render 'shared/circle_gradient' %>

  <div class="container mt-3">
   <%= render 'tests/components/edit_test_modal' %>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb test-breadcrumb">
         <li class="breadcrumb-item "><%= link_to @test.project.name, project_path(@test.project) %></li>
         <li class="breadcrumb-item active" id="chevron" aria-current="page"><%= @test.name %></li>
      </ol>
   </nav>
   <h1 class='project-name'><%= @test.project.name %></h1>
   <%= render 'tests/components/test_header' %>
   <%= render 'tests/components/test_sub_header' %>
   <hr>
   <%= render 'tests/components/reviews' %>
</div>
