<div class="container mt-3">
   <%= render 'tests/components/edit_test_modal' %>
   <%= render 'tests/components/new_review', test: @test, review: @review %>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb test-breadcrumb">
         <li class="breadcrumb-item "><%= link_to @test.project.name, project_path(@test.project) %></li>
         <li class="breadcrumb-item active" id="chevron" aria-current="page"><%= @test.name %></li>
      </ol>
   </nav>
   <h1 class='project-name'><%= @test.project.name %></h1>
   <div class="row align-items-start ">
      <div class="col-6">
         <p><strong>Description</strong></p>
         <p><%= @test.project.description %></p>
         <i class="fab fa-github"></i>
      </div>

   </div>
   <%= render 'tests/components/test_header' %>
   <%= render 'tests/components/test_sub_header' %>
   <hr>
   <%= render 'tests/components/reviews' %>
</div>
