


<div class="container mt-3">
   <%= render partial: 'tests/new_test_modal' %>
   <%= render 'edit_test_modal' %>
   <%= render 'new_review', test: @test, review: @review %>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb test-breadcrumb">
         <li class="breadcrumb-item "><%= link_to @test.project.name, project_path(@test.project) %></li>
         <li class="breadcrumb-item active" id="chevron" aria-current="page"><%= @test.name %></li>
      </ol>
   </nav>
   <h1 class='project-name'><%= @test.project.name %></h1>
   <div class="row align-items-start ">
      <div class="col-6">
         <p><strong>Description</strong></p>
         <p><%= @test.project.description %></p>
         <i class="fab fa-github"></i> <%= @test.project.github_url %>
      </div>
      <div class="col-2">
         <p><strong>Collaborators</strong></p>
         <%= image_tag "cover512-512.png", alt: "alttext", class: "avatar" %>
         <%= image_tag "cover512-512.png", alt: "alttext", class: 'avatar' %>
      </div>
      <div class="col align-items-center">
         <% if policy(Test).new? %>
         <%= link_to "Create a new test", new_project_test_path(@test.project), class: "btn btn-primary test-btn-blue", data: {toggle: "modal", target: "#exampleModal"} %>
         <% end %>
      </div>
   </div>
        <div class="flex-box test-header my-4">
         <h2 class="test-heading"><%=@test.name %></h2>


         <span class="live-dot">•</span> <p><%= @test_status %></p>

         <p index="test-created-date">Created on: <%= @test.created_at.strftime("%d-%m-%Y" ) %></p>


         <p><%= @test.test_url %></p>
         <span>
         <i class="fas fa-external-link-alt test-fav"></i>
         </span>
         <% if policy(@test).edit? %>
         <%= link_to edit_test_path(@test), data: {toggle: "modal", target: "#exampleModalEdit"} do %>
         <i class="fas fa-pencil-alt test-fav"></i>
         <% end %>
         <% end %>
         <%= link_to test_path(@test), method: :delete, data: {confirm: "Are you sure?"} do %>
         <i class="fas fa-trash test-fav"></i>
         <% end %>
    </div>
  <p>Description</p>
   <p><%= @test.description %></p>
   <p>Sample size: <%= @test.sample_size %></p>
   <p> <%= (@test.time_limit - Date.today).to_i %> days left  </p>

   <hr>




    <% if @test.reviews.count.zero? %>

    <p>No reviews. Be the first to <span><%= link_to "add a review", new_project_test_path(@test.project), class: "nav-link", data: {toggle: "modal", target: "#exampleModalReview"} %></span></p>
    <% else %>

      <p><%= link_to "add a review", new_project_test_path(@test.project), class: "nav-link", data: {toggle: "modal", target: "#exampleModalReview"} %></p>
    <p> <%= @test.reviews.count %> <span> <%= @review_count > 1 ? 'reviews' : 'review' %> </span></p>
    <% @reviews.each do |review| %>
    <div class="card my-4 review-card">
      <%= image_tag "placeholder-avatar.png", alt: "alttext", class: "avatar" %>
      <p><strong><%= review.user.email %></strong> <span id="review-created-date"><%= review.created_at.strftime("%a %d.%m.%Y")%></span></p>
       <%= review.content %>
    </div>
       <% end %>
    <% end %>
</div>




